html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ===== HEADER LAYOUT ===== */
.intro {
  background: #545353;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Logo */
header img {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* ===== NAVIGATION ===== */
nav {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 30px;
}

ul li a:hover {
  background-color: #111111;
}