html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

/* ===== HEADER LAYOUT ===== */
.intro {
  background: #545353;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Logo */
header img {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* ===== NAVIGATION ===== */
nav {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 30px;
}

ul li a:hover {
  background-color: #111111;
}
h1 {
  font: 1.6em Verdana, Geneva, sans-serif;
  margin-bottom: .4em;
  color: rgb(83, 104, 138);
}

h2 {
  font: 3.2em Georgia, "Times New Roman", Times, serif;
  margin-bottom: .2em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}
.project-intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: dodgerblue;
  text-align: center;
  padding: 10px;
}
.overview {
  grid-column: 1 / -1;
  background-color: lightblue;
}
.project-details {
  background-color: lightsteelblue;
  grid-column: 1 / 3;
}
.project-outcomes {
  background-color: lightcoral;
  /* grid-column: 1 ; */
}
.project-conclusion {
  background-color: lightgreen;
  grid-column: 1 / -1;
}