html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.intro {
  background: #858383;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Logo */
header img {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 30px;
}

ul li a:hover {
  background-color: #111111;
}

h1 {
  font: 2.5em Georgia, "Times New Roman", Times, serif;
  margin-bottom: .2em;

}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
  text-align: justify;
}

.project-intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: transparent;
  text-align: center;
  padding: 20px;

}

.overview {
  grid-column: 1 / -1;
  background-color: transparent
}

.project-details {
  background-color: transparent;
  grid-column: 1 / 2;
}

.project-outcomes {
  background-color: transparent;
  grid-column: 2 / -1;
}

.project-conclusion {
  background-color: transparent;
  grid-column: 1 / -1;
}